In [5]:
import pandas as pd
df = pd.DataFrame([[1,'a0123'],[2,'x2s'],[5,'123xsf'],[2,'6666']],columns=['num','alphabet'])
#Convert strings into numbers
df['alphabet'] = df['alphabet'].str.replace('[^0-9]', '', regex=True).astype('int64')

In [10]:
#sum entries with the same feature labels, keep only one entry
df = df.groupby(['num']).sum().sort_values(['num'], ascending=True).reset_index()

In [11]:
df

   num  alphabet
0    1       123
1    2      6668

In [8]:
# keep the last entry of same feature, if ascending the keep the biggest
df = df.drop_duplicates(subset=['alphabet'], keep='last')

   num  alphabet
1    2      6668
2    1       123